<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="South\UpdateOrderStatus\Api\OrderUpdateStatusInterface" type="South\UpdateOrderStatus\Model\Service\OrderStatusService"/>
	<preference for="South\UpdateOrderStatus\Api\Data\OrderStatusMultipleInterface" type="South\UpdateOrderStatus\Model\OrderStatusMultiple"/>
</config>
